@keyframes float {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    height: 60vh;
  }
}

@keyframes clicked {
  from {
    background-color: #04aa6d;
  }
  to {
    background-color: red;
  }
}

@keyframes borderAppear {
  from {
    border: 2px solid rgba(0, 0, 0, 0);
    margin-top: 3rem;
    height: 10vh;
  }
  to {
    margin-top: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 1);
    height: 80vh;
  }
}

@keyframes deployPlanHigh {
  0% {
    border: 2px solid rgba(135, 206, 250, 0);
    width: 0;
    height: 0;
  }
  50% {
    border: 2px solid rgba(135, 206, 250, 1);
    width: 6vw;
    height: 87%;
  }
  100% {
    border: 2px solid rgba(135, 206, 250, 1);
    width: 100%;
    height: 87%;
  }
}

@keyframes floatStat {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: rgb(233, 233, 233);
}

nav {
  opacity: 85;
}

a {
  text-decoration: none;
  color: royalblue;
}

footer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.empty-space {
  width: 100%;
  height: 100vh;
}

.btn {
  animation-name: clicked;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  padding: 12px;
  color: white;
  position: absolute;
  bottom: 1rem;
}

.response {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-medias {
  height: 50%;
  background-color: rgb(102, 102, 102);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-media {
  margin-left: 1rem;
}

.footer-credentials {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  text-align: center;
  background-color: rgb(75, 75, 75);
}

.body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin: 3.5%;
}

.first-part {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 82vh;
  width: 92vw;
  border: 2px solid black;
  border-radius: 12px;
}
.first-part > h1 {
  text-decoration: none;
  font-weight: 600;
}
#arrowDown {
  margin-top: 2rem;
  max-width: 5vw;
  max-height: 5vh;
  opacity: 0.65;
  transition: 1s;
}
#arrowDown:hover {
  transition: 1s;
  opacity: 1;
  max-width: 6vw;
  max-height: 6vh;
}

/*Second part*/

.second-part {
  padding-top: 0.25rem;
  margin-top: 5rem;
  border: 2px solid black;
  border-radius: 18px;
}

.block-img1 {
  float: right;
}

.block-img2 {
  float: left;
}

#img1,
#img2 {
  border-radius: 10px;
  margin: 1rem;
  max-height: 45vh;
  max-width: 45vw;
}

.block-text > p {
  text-align: justify;
}

/*Forms*/
.register {
  width: 300px;
  border-radius: 18px;
}

.block-register {
  background-color: rgb(231, 231, 231);
}

.wrapper-register1,
.wrapper-register2 {
  animation-name: float;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  width: 100%;
  height: 60vh;
  display: none;
  justify-content: center;
  align-items: center;
}
.block-register {
  opacity: 0.3;
  border: 2px solid rgb(163, 163, 163);
  border-radius: 18px;
  display: flex;
  background-color: rgb(240, 240, 240);
  flex-direction: row;
  transition: 1.5s;
}

.block-register:hover {
  opacity: 1;
}

.register-image {
  height: 100%;
}

.register-image > img {
  opacity: 0.85;
  width: 300px;
  height: 100%;
  border-radius: 18px;
}

.form-register {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-register > input {
  margin-bottom: 1rem;
}

/*Profile stylings*/

.parts-body {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}

.profile-parts {
  display: flex;
  flex-direction: column;
}

.parts-choice {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parts-choice > h3 {
  transition: 2s;
  opacity: 0.55;
  font-weight: 600;
}

.parts-choice > h3:hover {
  opacity: 1;
}

.part-history {
  animation-name: floatStat;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  align-items: center;
  justify-content: center;
}

.part-update {
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-1 {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-2 {
  display: block;
  animation-name: floatStat;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

/*Dropdown*/
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#myDropdown {
  max-height: 50vh;
  overflow: scroll;
}

/* History body */
.history-body {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.history-body1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.history-body2 {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Statistics*/
.statistics > * {
  display: flex;
  flex-direction: row;
}

.charts {
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 60vw;
  font-size: 14px;
  margin-top: 2rem;
}

.container {
  height: 20vh;
  width: 20vw;
}

.charts-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.charts-pie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#pie-chart-else {
  text-align: center;
  font-size: 24px;
  align-self: center;
  justify-self: center;
  width: 25%;
}

@media only screen and (max-width: 768px) {
  .charts {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  #pie-chart-else {
    text-align: center;
    font-size: 20px;
    align-self: center;
    justify-self: center;
    width: 80%;
  }

  .container {
    height: 40vh;
    width: 70vw;
  }
}

/*Update section*/

.part-update {
  animation-name: floatStat;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-form {
  background-color: rgb(240, 240, 240);
  border: 2px solid rgb(163, 163, 163);
  border-radius: 18px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.update-form > p {
  margin-bottom: 2rem;
  font-size: 24;
  text-align: center;
}

.update-form > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-form > form > input {
  margin-bottom: 1rem;
}

/* Diet plans page */
.plans-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plans-body > * {
  margin-top: 5vh;
}

.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem;
}

.plan {
  border: 2px solid black;
  border-radius: 18px;
  height: 50vh;
  width: 20vw;
  text-align: center;
  padding: 5px;
  animation-play-state: paused;
  animation-name: borderAppear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.plan > h4 {
  border: 2px solid darkgoldenrod;
  border-radius: 18px;
}

.plan-wrapper {
  animation-name: deployPlanHigh;
  animation-duration: 2s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  padding: 6px;
  border-radius: 18px;
  position: relative;
}

.plan-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  animation-name: floatStat;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.plan-text:first-child {
  display: flex;
  flex-direction: column;
}

.plan-text > * {
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
  .plans {
    grid-gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .plan {
    height: 75vh;
    width: 60vw;
  }
}
