{%extends 'dietApp/layout.html'%} {%load static%} {%block title%}HI{%endblock%}
{%block body %}
<main>
  <div class="first-part">
    <h1>DietApp</h1>
    <h3 style="text-align: center">
      Welcome to my last project work called "DietApp". There is a little
      introduction below, so if you would like to find out a little bit more
      about this project please click this arrow.
    </h3>
    <img
      id="arrowDown"
      src="{% static 'dietApp/imgs/arrowDown.svg' %}"
      alt="img"
    />
  </div>
  <div class="second-part">
    <div class="block-img1">
      <img id="img1" src="{% static 'dietApp/imgs/diet1.jpg' %}" alt="" />
    </div>
    <div class="block-text">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
        consequuntur! Magni sit ratione dicta dolorem aliquid voluptas iure
        officiis, optio voluptatibus omnis doloremque quidem? Dicta provident
        vel sit accusamus quod quae saepe eum blanditiis amet eos facilis quidem
        maiores accusantium vero animi necessitatibus aliquid, inventore
        nesciunt architecto nulla in praesentium? Debitis corporis illo odit
        dolore, praesentium eveniet dolores! Earum inventore temporibus itaque
        molestias obcaecati quidem voluptate, aut sunt optio qui amet suscipit
        numquam iste harum facere eos natus vitae, laudantium fuga accusamus
        consequuntur ut eius architecto. Sint autem asperiores aliquid aperiam.
        Vel, corrupti id repellat quos quam est temporibus ut perspiciatis
        architecto eius? A, cupiditate nihil eligendi qui molestias iure nisi
        magnam omnis incidunt expedita ullam illum porro labore maiores,
        blanditiis aspernatur voluptas vitae doloribus voluptatem laborum alias
        dicta. Vero rerum est ad. Necessitatibus aspernatur explicabo error
        consectetur, pariatur soluta iusto voluptatibus eveniet suscipit neque
        animi qui sequi eos delectus illo fugiat asperiores aut quasi saepe quae
        libero. Facere corporis quis provident laborum voluptate rerum ex, rem,
        accusamus nobis fuga ipsum officia adipisci error. Consectetur, ullam
        atque iste numquam, quidem nesciunt quod ex est assumenda hic
        distinctio. Nihil quaerat quidem dolorum labore exercitationem quasi
        dolore dignissimos vitae dolorem repellat, itaque, iusto hic rerum! Quam
        consequatur et voluptatem fugiat sequi quos, cum molestiae ipsa, itaque
        tenetur modi perferendis aspernatur nobis saepe ducimus! Corporis, eum
        consectetur soluta doloremque eligendi aliquid quisquam excepturi
        reiciendis dolorum iusto accusantium, rem vitae inventore accusamus quas
        minus exercitationem, maxime obcaecati quo temporibus. Magnam fugiat
        impedit temporibus quas adipisci deserunt nihil voluptate atque eius?
      </p>
    </div>
    <div class="block-img2">
      <img id="img2" src="{% static 'dietApp/imgs/diet2.jpeg' %}" alt="img" />
    </div>
    <div class="block-text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut obcaecati
        velit nam, ducimus at aperiam vitae id iure voluptatibus sit quia quos
        eveniet vero inventore quaerat placeat atque omnis? Repellendus aliquid
        consectetur nostrum delectus minus eligendi magnam ut, atque laudantium
        soluta consequatur quia quisquam fugit quod aliquam? Dolorum aspernatur
        eaque hic placeat, maiores itaque quos vel quia sed, impedit cumque sit
        quas nostrum. Sint quas ipsa exercitationem corporis placeat eum porro
        laudantium cumque, expedita esse excepturi ut architecto numquam nobis
        quisquam eveniet minima quibusdam laborum ipsum enim. Aliquam recusandae
        deleniti molestias fugit obcaecati rerum quaerat tenetur, eum
        perferendis cumque voluptatum iusto voluptatibus quibusdam ex, vero
        temporibus commodi officiis reprehenderit vel natus quisquam. Architecto
        labore mollitia sunt optio magnam! Porro reiciendis, officiis ipsa eius
        quibusdam voluptatem ullam, ratione molestiae blanditiis architecto
        aspernatur similique temporibus exercitationem dolorem rem optio
        dignissimos quas, molestias libero iusto dolor harum atque tempore. Ex
        maxime, deserunt sint sunt ipsam, voluptatum quo voluptate, accusantium
        vel cum suscipit odio eaque totam distinctio obcaecati? Voluptatibus
        perferendis architecto ipsa magnam autem minus laudantium id ut possimus
        itaque, dignissimos odit? Enim sit beatae quia neque mollitia incidunt
        hic fugiat, dolor quos perferendis quas, nemo quidem esse consequuntur
        accusantium optio amet fugit aperiam minima! Soluta, placeat sit ipsa
        nesciunt asperiores laborum animi voluptas amet voluptate minus beatae
        veritatis laboriosam reiciendis. Esse iure dolor fugit praesentium
        assumenda tenetur corrupti, pariatur quia. Distinctio quod ipsum
        perspiciatis harum voluptate, inventore est cumque eius, quasi accusamus
        doloremque eos suscipit modi voluptatum! Ea, iste sint in distinctio et
        ad delectus perspiciatis cum rerum repellat.
      </p>
    </div>
  </div>
</main>
{% endblock %}
